p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.tealbox {
  margin: 30px;
  padding: 0.25em;
  background: #00ad8fBF;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #3c6169;
  font-size: 1.5em;
  font-style: italic;
}
.center {
  text-align: center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infobox {
  padding: 0.5em 0.5em 0.5em 4em;
  margin: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #3c6169;
  background: #00ad8fBF 5px center/3em no-repeat;
  font-size: 1.5em;
  font-style: italic;
  color: white;
}

.reminder {
  background-image: url("pics/reminder-icon.png");
}
